<%= form_for @user do |f| %>
<% if @user.errors.any? %>
  <h4 class="flash_message">Form is invalid</h4>
  <% @user.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>
  <div>
    <%= f.label :first_name %>
  </div>
  <div>
    <%= f.text_field :first_name, :required => true %>
  </div>
  <div>
    <%= f.label :last_name %>
  </div>
  <div>
    <%= f.text_field :last_name, :required => true %>
  </div>
  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.email_field :email, :required => true %>
  </div>
  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username, :required => true %>
  </div>
  <div>
    <%= f.label :password %>
  </div>
  <div>
    <%= f.password_field :password, :required => true %>
  </div>
  <% if @user.id.nil? %>
    <div>
      <%= f.label :password_confirmation %>
    </div>
    <div>
      <%= f.password_field :password_confirmation, :required => true %>
    </div>
  <% end%>
  <div>
    <%= f.submit %>
  </div>
<% end %>
