<div class="flex_homepage">
  <div class="left_column_homepage">
    <h1>Welcome to Flake!</h1>
    <div>The world's number 15 social media platform!</div>
    <div>
      <span>Here you will be able to...</span>
      <ul>
        <li>Add friends</li>
        <li>Create Events</li>
        <li>Add photos and posts</li>
      </ul>
    </div>
  </div>
  <div class="right_column_homepage">
    <h1>Signup!</h1>
    <h4 class="flash_message"><%=flash[:message]%></h4>
    <%= form_for @user do |f| %>
      <%= f.label :first_name %>:<br .>
      <%= f.text_field :first_name, :required => true, :value => flash[:first_name] %><br />
      <%= f.label :last_name %>:<br .>
      <%= f.text_field :last_name, :required => true, :value => flash[:last_name] %><br />
      <%= f.label :email %>:<br .>
      <%= f.email_field :email, :required => true, :value => flash[:email] %><br />
      <%= f.label :username %>:<br .>
      <%= f.text_field :username, :required => true %><br />
      <%= f.label :password %>:<br .>
      <%= f.password_field :password, :required => true %><br />
      <%= f.submit %>
    <% end %>
  </div>
</div>
