<h4 class = "top_flash_message"><%=flash[:message]%></h4>
<div class="flex_homepage">
  <div class="left_column_homepage">
    <h1>Welcome to Flake!</h1>
    <div>The world's number 15 social media platform!</div>
    <div>
      <span>Here you will be able to...</span>
      <ul>
        <li>Add friends</li>
        <li>Create Events</li>
        <li>Add photos and posts</li>
      </ul>
    </div>
  </div>
  <div class="right_column_homepage">
    <h1>Signup!</h1>
    <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <h4 class="flash_message">Form is invalid</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <%= f.label :first_name %>:<br .>
      <%= f.text_field :first_name, :required => true %><br />
      <%= f.label :last_name %>:<br .>
      <%= f.text_field :last_name, :required => true %><br />
      <%= f.label :email %>:<br .>
      <%= f.email_field :email, :required => true %><br />
      <%= f.label :username %>:<br .>
      <%= f.text_field :username, :required => true %><br />
      <%= f.label :password %>:<br .>
      <%= f.password_field :password, :required => true %><br />
      <%= f.label :password_confirmation %>:<br .>
      <%= f.password_field :password_confirmation, :required => true %><br />
      <%= f.submit %>
    <% end %>
  </div>
</div>
