<h4 class="flash_message"><%=flash[:message]%></h4>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h4 class="flash_message">Form is invalid</h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :first_name, "First Name" %>:<br .>
  <%= f.text_field :first_name, :required => true %><br />
  <%= f.label :last_name, "Last Name" %>:<br .>
  <%= f.text_field :last_name, :required => true %><br />
  <%= f.label :email %>:<br .>
  <%= f.email_field :email, :required => true %><br />
  <%= f.label :username %>:<br .>
  <%= f.text_field :username, :required => true %><br />
  <%= f.label :password, "Confirm Password" %>:<br .>
  <%= f.password_field :password, :required => true %><br />
  <%= f.submit %>
<% end %>
<div id="delete_button_container">
  <span id = "delete_button">Delete!</span>
</div>
<div id="delete_form_container">
  <%= form_tag(user_path(@user), method: "delete") do %>
    <%= password_field_tag(:password, "", placeholder: "Password") %>
    <%= submit_tag("Delete!", class: "delete_user") %>
  <% end %>
  <div id="cancel_container">
    <span id="cancel_delete"><%=link_to "Cancel", root_url%></span>
  </div>
</div>
