<div class= "main_body_container">
  <div class = "left_sidebar">
    <h4 class="left_header"><%=link_to "Upcoming Events", events_path%></h4>
    <% @events.limit(5).each do |event| %>
      <div class="left_event_container">
        <div class="left_title"><%= link_to event.title, event_path(event)%></div>
        <div class="left_date"><%= event.event_time.strftime("%m/%e at %l:%M%p")%></div>
        <%= link_to(image_tag(event.event_image_url, class: "left_event_image"), event_path(event)) %>
      </div>
    <% end %>
  </div>
  <%= render "shared/main_events_list" %>
  <%= render "shared/user_right_sidebar" %>
</div>
