<div class= "main_body_container">
  <div class = "left_sidebar">
    <h4 class="main_header"><%=link_to "Upcoming Events", events_path%></h4>
    <% @events.each do |event| %>
      <div class="left_event_container">
        <div class="left_title"><%= link_to event.title, event_path(event)%></div>
        <%= image_tag(event.event_image_url, class: "left_event_image") %>
      </div>
    <% end %>
  </div>
  <div class = "main_layout">
    <h4 class="main_header"><%=@user.first_name%> <%=@user.last_name%>'s Events</h4>
    <% @user.events.order("event_time").each do |event| %>
    <div class="event_container">
      <h2 class="event_title"><%= link_to event.title, event_path(event)%></h2>
      <h4 class="event_content"><%= event.event_content %></h4>
      <h4 class="event_time"><%= event.event_time.strftime("%b %e, %Y at %l:%M %p") %></h4>
      <%= image_tag(event.event_image_url, class: "event_image") %>
    </div>
    <% end %>
  </div>
  <div class = "right_sidebar">
    <h4 class="main_header">Friends</h4>
    <div class="right_container">
      <p>Friends</p>
    </div>
  </div>
</div>
