<%= form_for [@user, @event] do |f| %>
<% if @event.errors.any? %>
  <h4 class="flash_message">Form is invalid</h4>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="event_form_title">
  <%= f.label :title %>
  <%= f.text_field :title, :required => true %>
</div>
<div class="event_form_content">
  <%= f.label :event_content, "Description"%>
  <%= f.text_field :event_content, :required => true %>
</div>
<div class="event_form_image">
  <%= f.label :event_image_url, "Image URL" %>
  <%= f.text_field :event_image_url, :required => true %>
</div>
<div class="event_form_time">
  <%= f.label :event_time, "Event Time" %>
  <%= f.datetime_select :event_time, :order => [:month, :day, :year, :hour, :minute], :required => true %>
</div>
<div class="event_form_submit"%>
  <%= f.submit %>
</div>
<% end %>
