<%= form_for [@user, @event] do |f| %>
<% if @event.errors.any? %>
  <h4 class="flash_message">Form is invalid</h4>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="event_form_title">
  <%= f.text_field :title, :required => true, :maxlength => 30, :size => 30, :placeholder => "Title" %>
</div>
<div class="event_container">
  <div class="event_margins">
    <%= f.text_field :event_content, :required => true, :placeholder => "Description", :maxlength => 180, :size => 90 %>
  </div>
  <div class="event_form_image">
    <% if !@event.event_image_url.nil? %>
      <div>
        <%= image_tag(@event.event_image_url, class: "form_event_image") %>
      </div>
    <% end %>
    <%= f.text_field :event_image_url, :required => true, :placeholder => "Image URL" %>
  </div>
  <div class="event_margins">
    <%= f.datetime_select :event_time, :order => [:month, :day, :year, :hour, :minute], :required => true %>
  </div>
  <div class="event_margins"%>
    <%= f.submit %>
  </div>
</div>
<% end %>
