<div class= "main_body_container">
  <div class = "left_sidebar">
    <h4 class="main_header"><%=link_to "Your Events", user_path(session[:user_id])%></h4>
    <% @user.events.each do |event| %>
      <div class="left_event_container">
        <div class="left_title"><%= link_to event.title, event_path(event)%></div>
        <div class="left_date"><%= event.event_time.strftime("%m/%e at %l:%M%p")%></div>
        <%= image_tag(event.event_image_url, class: "left_event_image") %>
      </div>
    <% end %>
  </div>
  <div class = "main_layout">
    <h4 class="main_header"><%=@event.title%></h4>
    <div class="event_container">
      <h4 class="event_time"><%=@event.event_time.strftime("%A, %B %e at %l:%M%p")%></h4>
      <h4 class="event_content"><%=@event.event_content%></h4>
    </div>
  </div>
  <div class = "right_sidebar">
    <h4 class="main_header">Event Details</h4>
    <div class="right_container">
      <% if @event.attendances.find_by user_id: @user.id %>
        <p>true</p>
      <% else %>
        <p>false</p>
      <% end %>
      <p>Event Members: <%= @event.users.length %></p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
    </div>
  </div>
</div>
