<div class= "main_body_container">
  <%= render "shared/your_other_events_sidebar" %>
  <div class = "main_layout">
    <h4 class="main_header"><%=@event.title%></h4>
    <div class="event_container">
      <h4 class="event_time"><%=@event.event_time.strftime("%A, %B %e at %l:%M%p")%></h4>
      <h4 class="event_content"><%=@event.event_content%></h4>
    </div>
    <div class="event_container">
      <%= form_for [@event, @post] do |f| %>
        <div class="post_content">
          <%= f.text_area :post_content, :required => true, :placeholder => "Write Something...", :class => "post_textarea" %>
        </div>
        <div class="post_image_and_submit">
          <%= f.text_field :image_url, :placeholder => "Attach Image URL" %>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
    <% if @event.posts.empty? %>
      <div class="event_container">
        <h1>No Posts Yet. Create One!</h1>
      </div>
    <% else %>
      <% @event.posts.each do |post| %>
        <div class="event_container">
          <% if post.image_url.empty? %>
            <h4><%=post.post_content%></h4>
          <% else %>
            <h1><%=post.post_content%></h1>
            <%= image_tag(post.image_url, class: "event_image") %>
          <% end %>
          <h4><span><%=User.find(post.user_id).username%>: </span><span> <%=post.created_at.strftime("%b %e, %l:%M%p")%></span></h4>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= render "shared/event_details_sidebar" %>
</div>
