<div class= "main_body_container">
  <%= render "shared/your_other_events_sidebar" %>
  <div class = "main_layout">
    <h4 class="main_header"><%=@event.title%></h4>
    <div class="event_container">
      <h4 class="event_time"><%=@event.event_time.strftime("%A, %B %e at %l:%M%p")%></h4>
      <h4 class="event_content"><%=@event.event_content%></h4>
    </div>
    <div class="event_container">
      <%= form_for [@event, @post] do |f| %>
        <div class="post_content">
          <%= f.text_area :post_content, :required => true, :placeholder => "Write Something...", :class => "post_textarea" %>
        </div>
        <div class="post_image_and_submit">
          <%= f.text_field :image_url, :placeholder => "Attach Image URL" %>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
    <% if @event.posts.empty? %>
      <div class="event_container">
        <h1>No Posts Yet. Create One!</h1>
      </div>
    <% else %>
      <% @event.posts.order("created_at").each do |post| %>
        <div class="event_container">
          <% if post.image_url.empty? %>
            <h3>
              <% if post.user_id.to_i == @user.id %>
                <span class="text_comment"><%= link_to "(edit)", edit_event_post_path(@event, post)%></span>
              <% end %>
              <span class="text_comment"><%=User.find(post.user_id).username%></span>
              <span class="text_comment"> <%=post.created_at.strftime("%b %e, %l:%M%p")%>: </span>
              <%=post.post_content%></h3>
          <% else %>
            <h1><%=post.post_content%></h1>
            <% if post.user_id.to_i == @user.id %>
              <h4><%= link_to "(edit)", edit_event_post_path(@event, post)%></h4>
            <% end %>
            <%= image_tag(post.image_url, class: "event_image") %>
            <div>
              <span><%=User.find(post.user_id).username%>: </span><span> <%=post.created_at.strftime("%b %e, %l:%M%p")%></span>
            </div>
          <% end %>
        </div>
        <div class="comment_container">
          <%= form_for [@event, post, @comment], :html => {:class => "comment_form", :id => "post_id_#{post}"} do |f| %>
            <%= f.text_field :comment_content, :required => true, :placeholder => "Write a comment...", :class => "comment_field", :id => "comment_id_#{post}" %>
            <%= f.submit :style => "display: none;" %>
          <% end %>
          <% post.comments.each do |comment| %>
            <div class="each_comment">
              <% if comment.user.id.to_i == session[:user_id].to_i %>
                <span><%= button_to "(-) ", event_post_comment_path(@event, post, comment), { method: "delete", form_class: "delete_comment_button" }%></span>
              <% end %>
              <%= comment.user.username %>:
              <%= comment.comment_content %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- nice use of shared partials! -->
  <%= render "shared/event_details_sidebar" %>
</div>
