<div class= "main_body_container">
  <%= render "shared/your_other_events_sidebar" %>
  <div class = "main_layout">
    <h4 class="main_header"><%=@event.title%></h4>
    <div class="event_container">
      <h4 class="event_time"><%=@event.event_time.strftime("%A, %B %e at %l:%M%p")%></h4>
      <h4 class="event_content"><%=@event.event_content%></h4>
    </div>
  </div>
  <%= render "shared/event_details_sidebar" %>
</div>
