<!DOCTYPE html>
<html>
<head>
  <title>Flake</title>
  <link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if session[:user_id] %>
    <div class="top_bar">
      <a href="/" class="logo_link"><%= image_tag("flake_logo.png", class: "logo")%></a>
      <form method="get" action="/search_results" class="search_form">
          <input type="text" name="user_search" class= "search_bar" placeholder="Search">
      </form>
      <a href="/users/<%=session[:user_id]%>/events/new"><div class="new_event_button">New Event</div></a>
      <div class="settings_container">
        <div class="settings_button">Settings</div>
        <div class="dropdown_container">
          <div class="dropdown" id="profile"><a href="/users/<%=session[:user_id]%>/profile" class="dropdown">Profile</a></div>
          <div class="dropdown" id="signout"><a href="/signout" class="dropdown">Signout</a></div>
        </div>
      </div>
    </div>
    <div class= "main_body_container">
      <div class = "left_sidebar">
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
      </div>
      <div class = "main_layout">
        <div>Event 1</div>
        <div>Event 2</div>
        <div>Event 3</div>
        <div>Event 4</div>
        <div>Event 5</div>
      </div>
      <div class = "right_sidebar">
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
      </div>
    </div>

  <% else %>
    <div class="top_bar">
      <a href="/" class="logo_link"><%= image_tag("flake_logo.png", class: "logo")%></a>
      <a>
        <div class="signin_button">
          <span class="signin_word">Sign In!</span>
          <%= form_tag("/sign_in", method: "post", class: "signin") do %>
            <input type="text" name="user[username]" placeholder="username" required/><br />
            <input type="password" name="user[password_digest]" placeholder="password" required/><br />
          <% end %>
        </div>
      </a>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
