<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Flake</title>
  <link href='https://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if current_user %>
    <div class="top_bar">
      <a href="/" class="logo_link"><%= image_tag("flake_logo.png", class: "logo")%></a>
      <form method="get" action="/search_results" class="search_form">
          <input type="text" name="user_search" class= "search_bar" placeholder="Search">
      </form>
      <a href="/users/<%=session[:user_id]%>/events/new"><div class="new_event_button">New Event</div></a>
      <div class="settings_container">
        <div class="settings_button">Settings</div>
        <div class="dropdown_container">
          <div class="dropdown" id="profile"><%= link_to "Profile", "/users/#{session[:user_id]}/profile"%></div>
          <div class="dropdown" id="signout"><%= link_to "Signout", signout_path %></div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="top_bar">
      <a href="/" class="logo_link"><%= image_tag("flake_logo.png", class: "logo")%></a>
      <a>
        <div class="signin_button">
          <span class="signin_word">Sign In!</span>
          <%= form_tag(sessions_path, class: "signin") do %>
            <%= text_field_tag :username, params[:username], placeholder: "Username" %>
            <%= password_field_tag(:password, "", placeholder: "Password") %>
          <% end %>
        </div>
      </a>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
